<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">

        .container{
            width: 700px;
            margin: auto;
            background-color:#42C2FF;
            color: #EFFFFD;
            
        }
        .titulo{
            color: black;
            background-color: #85F4FF;
            padding: 20px;
            border-radius: 20px;
            width: 500px;
            margin: auto;
            text-align: center;
            color: #EFFFFD;

        }
        .paragrafos{
            color: gray;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulo da página</title>
    
</head>
<body class="container">
    <h1 class="titulo">Título da Página</h1>
    <hr/>